@import "tailwindcss";

@theme {
  --color-Theme: var(--bg-Theme);
  --color-page: var(--bg-page);
  --color-card: var(--bg-card);
  --color-surface: var(--bg-surface);
  --color-main: var(--text-main);
  --color-dim: var(--text-body);
  --color-muted: var(--text-muted);
  --color-accent: var(--accent);
  --color-accent-soft: var(--accent-soft);
  --color-border-subtle: var(--border-subtle);
  --color-border-glow: var(--border-glow);
  --color-border-glow-warning: var(--warning);
  --color-warning: var(--warning);
  --color-warning-soft: var(--warning-soft);

  --font-display: "Inter", sans-serif;
  --breakpoint-qw: 921px;
  --breakpoint-ew: 700px;
  --breakpoint-ww: 640px;
}

/* Themes */
/* Themes */
.dark {
  --bg-Theme: #52525b;
  --bg-page: #09090b;
  --bg-card: #121214;
  --bg-surface: #18181b;

  --text-main: #fafafa;
  --text-body: #a1a1aa;
  --text-muted: #52525b;

  --accent: #8b5cf6;
  --accent-soft: rgba(139, 92, 246, 0.1);

  --warning: #f59e0b;
  --warning-soft: rgba(245, 158, 11, 0.1);

  --border-subtle: rgba(39, 39, 42, 0.6);
  --border-glow: rgba(139, 92, 246, 0.3);
  --text-footer: #71717a;
}

.light {
  --bg-page: #ffffff;
  --bg-card: #f9fafb;
  --bg-surface: #f3f4f6;

  --text-main: #09090b;
  --text-body: #3f3f46;
  --text-muted: #71717a;

  --accent: #7c3aed;
  --accent-soft: rgba(124, 58, 237, 0.1);

  --warning: #d97706;
  /* Un poco más oscuro para contraste en blanco */
  --warning-soft: rgba(217, 119, 6, 0.1);

  --border-subtle: rgba(228, 228, 231, 0.8);
  --border-glow: rgba(124, 58, 237, 0.2);
  --text-footer: #a1a1aa;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg-page);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@layer base {
  section {
    padding-block: calc(var(--spacing) * 15);
    padding-inline: calc(var(--spacing) * 5);
  }

  @media (width <=921px) {
    section {
      padding-inline: calc(var(--spacing) * 5)
    }
  }

  @media (width <=640px) {
    section {
      padding-inline: calc(var(--spacing) * 3)
    }
  }

  @media (width <=420px) {
    section {
      padding-inline: calc(var(--spacing) * 2)
    }
  }
}

input {
  --tw-outline-style: none;
  outline-style: none;
}